{% extends 'base/base.html' %}
{% block content %}
        <!-- Navigation-->
    {% include 'base/navigation.html' %}
    {% include 'base/header.html' %}
        <!-- Section First-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h1 class="title-container">Торты на ваш вкус</h1>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for item in tort_detail %}
                        <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ item.tort_image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a href="{% url 'tort_list' %}" style="text-decoration: none; color: black;"><h5 class="fw-bolder">{{ item.title }}</h5></a>
                                    <!-- Product price-->
                                    {{ item.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{% url 'add_to_cart' item.id %}"><span id="product-add-cart">Добавить в корзину</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h1 class="title-container">Мучные изделия</h1>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                   {% for item in flour_list %}
                        <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ item.flour_image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    
                                    <a href="{% url 'tort_list' %}" style="text-decoration: none; color: black;"><h5 class="fw-bolder">{{ item.title }}</h5></a>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{% url 'add_to_cart_flour' item.id %}"><span id="product-add-cart">Добавить в корзину</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>
        </section>

        <!-- Footer-->
    {% include 'base/footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
{% endblock %}
