{% extends 'base/base.html' %}
{% block content %}
        <!-- Navigation-->
    {% include 'base/navigation.html' %}
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ flour_detail.flour_image.url }}" alt="..."></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">{{ flour_detail.title }}</h1>
                        <div class="fs-5 mb-5">
{#                            <span class="text-decoration-line-through">{{ flour_detail.price }}</span>#}
                            <span>{{ flour_detail.price }}</span>
                        </div>
                        <p class="lead">{{ flour_detail.description }}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                <a href="{% url "add_to_cart_flour" flour_detail.id %}">Добавить в корзину</a>
                            {{ tort.pk }}
                            {{ flour.pk }}

                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
    {% include 'base/footer.html' %}
{% endblock %}
