{% extends 'base/base.html' %}
{% block content %}
<!-- Navigation-->
    {% include 'base/navigation.html' %}
<!-- Header-->
{% include 'base/header.html' %}
<!-- Section First-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h1 class="title-container">Мучное на ваш вкус</h1>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for item in flour_product %}
                <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <a href="{% url 'flour_detail' item.id %}">
                        <img class="card-img-top" src="{{ item.flour_image.url }}" alt="..." style="width: 100%;height: auto;" />
                    </a>
                        <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ item.title }}</h5>
                            <!-- Product price-->
                            {{ item.price }} som
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="#"><span id="product-add-cart">Добавить в корзину</span></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <nav aria-label="..." style="display: flex; justify-content: center;">
                <ul class="pagination pagination-lg">
                    {% for num in flour_product.paginator.page_range %}
                        {% if num == flour_product.number %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link" style="background-color: green; border: 1px solid green;">{{ num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>

        </div>
    </div>
</section>

<!-- Footer-->
{% include 'base/footer.html' %}
<!-- Bootstrap core JS-->

{% endblock %}